.cart-btn {
  position: fixed;
  z-index: 3;
  /* margin-left: 40px; */
}
/* change with window scroll */
@media (min-width: 451px) {
  .checkout-total-container {
    margin-bottom: 4%;
    border: 2px solid black;
    padding: 20px;
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .checkout-message {
    grid-area: 1 / 1 / 1 / 5;
    font-size: 2em;
  }
  .checkout-label-tax {
    margin-top: 16%;
    grid-area: 2 / 3 / 2 / 4;
    text-align: left !important;
  }
  .checkout-amount-tax {
    grid-area: 2 / 5 / 3 / 5;
    font-size: 0.9em;
    margin-top: 30%;
  }
  .checkout-label-process-fees {
    text-align: left !important;
    grid-area: 3 / 3 / 4 / span 4;
  }
  .checkout-amount-fees {
    grid-area: 3 / 5 / 4 / 5;
    font-size: 0.9em;
    margin-top: 7%;
  }
  .checkout-label-subtotal {
    margin-top: 30%;
    grid-area: 4 / 3 / 5 / 5;
  }
  .checkout-subtotal {
    grid-area: 4 / 5 / 5 / 5;
    margin-top: 35%;
    font-size: 1.5em;
    font-weight: 600;
  }
  .checkout-btn {
    margin-bottom: 40%;
  }
  .stripe-container {
    position: absolute;
    z-index: 33;
    padding: 20%;
    margin-left: 4%;
    margin-top: -90%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100%;
    width: 92%;
  }
  .stripe-container h1 {
    margin-top: -30%;
    font-size: 4em;
  }

  .stripe-container .outline-danger {
    color: white;
    font-size: 2.5em;
    position: absolute;
    top: 4%;
    right: 2%;
  }
  .checkout-container {
    background: #eee;
    padding: 8%;
    margin-top: 30%;
    background: #eee;
    padding: 0 5% 5% 5%;
  }
  .checkout p {
    background: #eee;
    color: black;
    padding: 8%;
    margin-top: 30%;
    font-size: 2.4em;
  }
}
.checkout-btn:hover {
  cursor: pointer;
}
@media (max-width: 898px) {
  .cart-btn {
    margin-left: 34%;
  }
}
@media (min-width: 900px) {
  .cart-btn-1 {
    display: none;
  }
}
@media (max-width: 450px) {
  .checkout-total-container {
    margin-bottom: 4%;
    border: 2px solid black;
    padding: 20px;
    margin: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .checkout-message {
    grid-area: 1 / 1 / 1 / 5;
  }
  .checkout-label-tax {
    margin-top: 16%;
    grid-area: 2 / 3 / 2 / 4;
    text-align: left !important;
  }
  .checkout-amount-tax {
    grid-area: 2 / 5 / 3 / 5;
    font-size: 0.9em;
    margin-top: 30%;
  }
  .checkout-label-process-fees {
    text-align: left !important;
    grid-area: 3 / 3 / 4 / span 4;
  }
  .checkout-amount-fees {
    grid-area: 3 / 5 / 4 / 5;
    font-size: 0.9em;
    margin-top: 7%;
  }
  .checkout-label-subtotal {
    margin-top: 30%;
    grid-area: 4 / 3 / 5 / 5;
  }
  .checkout-subtotal {
    grid-area: 4 / 5 / 5 / 5;
    margin-top: 35%;
    font-size: 1.5em;
    font-weight: 600;
  }
  .checkout-btn {
    margin-bottom: 40%;
  }
  .stripe-container {
    position: absolute;
    z-index: 33;
    padding: 15%;
    margin-top: -138%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    height: 100%;
  }
  .stripe-container h1 {
    margin-top: -10%;
  }
  .stripe-container .outline-danger {
    color: white;
    font-size: 2.5em;
    margin-left: 100%;
  }
  .checkout-container {
    background: #eee;
    color: black;
    padding: 20px;
    margin-top: 30%;
  }
}
