@media (max-width: 450px) {
  .featured-products-grid {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
  }
  .card-1,
  .card-2,
  .card-3 {
    grid-column: 2;
    width: 100%;
    margin: 0 auto;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    padding-bottom: 40px;
  }
  .card-1 {
    object-fit: cover;
    object-position: 0 54%;
    animation-name: fadeIn;
    animation-duration: 3s;
    animation-iteration-count: 1;
    margin-top: 20%;
  }
  .product-card-1 {
    background: #fb416b;
    position: relative;
    padding: 0 7%;
    color: white;
  }
  .product-card-1 img {
    position: absolute;
    top: -20%;
  }
  .product-card-2 img {
    position: absolute;
    top: -30%;
  }
  .product-card-3 img {
    position: absolute;
    top: -30%;
  }
  .product-card-2 {
    background: rgb(255, 140, 0);
    margin-top: 20%;
    padding-top: 40%;
    color: white;
  }
  .product-card-3 {
    background: rgb(154, 205, 50);
    margin-top: 20%;
    padding-top: 40%;
    color: white;
  }
  .card-body div {
    border-radius: 20px;
  }
  .card-1 .card-body h5 {
    margin-top: 70%;
    padding-bottom: 10px;
    font-size: 2.3em;
  }
  .card-2 .card-body h5 {
    padding-bottom: 10px;
    font-size: 2.3em;
  }
  .card-3 .card-body h5 {
    padding-bottom: 10px;
    font-size: 2.3em;
  }

  .show-product-btn {
    margin-top: 4%;
  }
  .card-image-top {
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
@media (min-width: 451px) {
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-card-1 {
    margin-top: 10%;
    background: #fb416b;
    position: relative;
    padding: 0 7%;
    color: white;
  }

  .product-card-2 {
    background: rgb(154, 205, 50);
    margin-top: 1%;
    color: white;
  }
  .product-card-3 {
    background: rgb(255, 140, 0);
    margin-top: -7%;
    padding-top: 18px;
    color: white;
  }

  .card-body div {
    border-radius: 20px;
  }
  .product-card-1 img,
  .product-card-2 img,
  .product-card-3 img {
    position: absolute;
    animation-name: fadeIn;
    animation-duration: 5s;
    animation-iteration-count: 1;
    top: -25%;
  }
  .product-card-1 img {
    position: absolute;
    top: -25%;
    left: 4.8%;
    width: 18em;
  }
  .product-card-2 img {
    margin-left: 5%;
    margin-top: 4%;
    width: 20em;
  }
  .product-card-3 img {
    margin-top: 4%;
    width: 20em;
  }
  .card-1,
  .card-2,
  .card-3 {
    grid-column: 2;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
    object-fit: cover;
    object-position: 0 54%;
    animation-name: fadeIn;
    animation-duration: 2s;
    animation-iteration-count: 1;
  }

  .card-1 {
    margin-top: 20%;
    grid-area: 1/1;
    width: 20em;
    margin-left: 10%;
    text-align: center;
  }

  .card-body h5 {
    margin-top: 70%;
    padding-bottom: 10px;
    font-size: 2.3em;
  }

  .card-2 {
    margin-top: 25%;
    grid-area: 1/2;
    padding-left: 20%;
    width: 26em;
    margin-left: -2%;
  }
  .card-2 h5 {
    margin-top: 62%;
  }
  .card-3 {
    margin-top: 30%;
    grid-area: 1/3;
    padding-left: 20%;
    width: 26em;
  }
  .card-3 h5 {
    margin-top: 55%;
  }
}
@media (max-width: 789px) {
  .featured-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 451px) {
  .featured-products-container {
    margin: 0 auto;
  }
}
@media (min-width: 989px) {
}
