@media (min-width: 440px) {
  .account-link {
    display: none;
  }
  .account-link-show {
    display: block;
    list-style: none;
    text-align: left;
    background: rgba(154, 205, 50, 0.9);
    border: 1px none lightgray;
    position: fixed;
    top: 6.8%;
    right: 2%;
    z-index: 9;
    width: 15%;
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .account-link > ul li {
    color: black;
  }
}
@media (max-width: 450px) {
  .account-link {
    display: none;
  }
  .account-link-mobile {
    display: block;
    list-style: none;
    height: 5%;
    background: rgba(154, 205, 50, 0);
    border: 1px none lightgray;
    padding: 3%;
  }
  .account-link-mobile li {
    list-style: none;
    color: black;
  }
}
