.cart-btn {
  position: fixed;
  z-index: 3;
  margin-left: 40px;
}
/* change with window scroll */
@media (min-width: 700px) {
  .cart-btn-1 {
    display: none;
  }
}
@media (max-width: 900px) {
  .cart-btn {
    margin-left: 40%;
  }
}
@media (min-width: 898px) {
  .cart-btn {
    margin-left: 60%;
  }
}
