@media (max-width: 450px) {
  .proceed-to-checkout-btn {
    border: 2px solid #28a745;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
  }
}
@media (min-width: 451px) {
  .proceed-to-checkout-btn {
    border: 2px solid #28a745;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    font-size: 1.3em;
    font-weight: 600;
  }
}
