.modal-cart-item-container {
  width: 90%;
  margin: 0 auto;
  background: #eee;
  -webkit-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 6px 5px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  margin-bottom: 6px;
  padding: 20px;
}
@media (min-width: 450px) {
  .modal-cart-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .modal-cart-image {
    height: 100px;
    width: 80px;
    float: left;
  }
  .modal-cart-name {
    font-weight: 700;
    font-size: 1.4em;
    grid-row: 1;
    grid-column: 2 / span 2;
  }
  .modal-cart-price {
    float: right;
  }
  .modal-cart-short-desc {
    margin-top: 20%;
    margin-left: 3%;
    grid-row: 1;
    grid-column: 2 / span 2;
  }
  .modal-cart-remove-item {
    margin-top: -60%;
    grid-column: 4;
    font-weight: 700;
  }
}
@media (min-width: 798px) {
  .modal-cart-price {
    grid-row: 1;
    grid-column: 4;
  }
  .modal-cart-qty {
    grid-row: 4;
    grid-column: 4;
  }
  .modal-cart-remove-item {
    margin-top: -60%;
    grid-row: 3;
    grid-column: 4;
    font-weight: 700;
    height: 3em;
  }
}
@media (max-width: 451px) {
  .modal-cart-item-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  .modal-cart-image {
    grid-area: 1 / 1;
    width: 4em;
  }
  .modal-cart-name {
    font-weight: 700;
    font-size: 1.4em;
    grid-area: 1 / 2 / 1 / 5;
    margin-left: 2%;
  }
  .modal-cart-price {
    grid-area: 1 / 4 / 1 / 6;
    margin-top: 80%;
  }
  .modal-cart-short-desc {
    grid-area: 1 / 2 / 1 / 5;
    margin-top: 20%;
    margin-left: 4%;
  }
  .modal-cart-qty {
    grid-area: 1 / 4 / 1 / 6;
    margin-top: 60%;
  }
  .modal-cart-remove-item {
    grid-area: 2 / 4 / 2 / 6;
    font-size: 0.9em;
  }
}
