@media (max-width: 451px) {
  .proceed-to-checkout-btn {
    border: 2px solid #28a745;
    border-radius: 20px;
    margin: 0 auto;
  }
}

.proceed-to-checkout-btn {
  border: 2px solid #28a745;
  border-radius: 20px;
  margin: 0 auto;
}
.proceed-to-checkout-total {
  display: flex;
  justify-content: center;
}
