.checkout-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.checkout-item-name {
  grid-area: 1/1;
}
.checkout-item-desc {
  grid-area: 1/2;
}
.checkout-item-qty {
  grid-area: 1/3;
}
.checkout-item-price {
  grid-area: 1/4;
}
.checkout-item-delete-btn {
  grid-area: 2/4;
  width: 20%;
  margin: 0 auto;
}
@media (max-width: 450px) {
  .checkout-item-delete-btn {
    grid-area: 2/4;
    width: 50%;
    margin: 0 auto;
  }
}
