@media (max-width: 450px) {
  .navbar-toggler {
    margin-left: 85%;
    margin-top: -10%;
  }
}
@media (min-width: 451px) {
  .login-btn {
    float: right;
    position: relative;
    margin-right: 220%;
    margin-top: -80%;
    border: none;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .signup-btn {
    float: right;
    position: relative;
    margin-right: 220%;
    margin-top: -70%;
    border: none;
  }
  .login-btn:hover,
  .signup-btn:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .logout-btn {
    border: none;
    background: rgba(154, 205, 50, 0);
  }
}
@media (min-width: 789px) {
  .login-btn {
    left: -70%;
    top: 15px;
  }
  .signup-btn {
    top: 12px;
    left: -70%;
  }
}
