@media (max-width: 450px) {
  .login-container {
    position: absolute;
  }
  .login-btn {
    position: relative;
    top: -45px;
    z-index: 5;
    left: -220%;
  }
  .signup-btn {
    position: relative;
    top: -70px;
    left: -220%;
  }
  .logout-btn {
  }
  .navbar-toggler {
    margin-left: 85%;
    margin-top: -10%;
  }
}
@media (min-width: 451px) {
  .login-container {
    position: absolute;
  }
  .login-btn {
    float: right;
    position: relative;
    margin-right: 220%;
    margin-top: -80%;
    border: none;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
  }
  .signup-btn {
    float: right;
    position: relative;
    margin-right: 220%;
    margin-top: -70%;
    border: none;
  }
  .login-btn:hover,
  .signup-btn:hover {
    background-color: #eee;
    cursor: pointer;
  }
  .logout-btn {
  }
}
@media (min-width: 789px) {
  .login-container {
    position: absolute;
  }
  .login-btn {
    left: -70%;
    top: 15px;
  }
  .signup-btn {
    top: 12px;
    left: -70%;
  }
}
