@media (max-width: 450px) {
  .cart-btn {
    position: fixed;
    top: 0%;
    background: rgba(154, 205, 50, 0.3);
    display: flex;
    justify-content: center;
    margin-left: 33%;
  }
  .cart-btn-2 {
    display: none;
    background: rgba(154, 205, 50, 0);
  }
  .cart-icon {
    height: 45px;
  }
  .cart-qty-icon {
    font-size: 1em;
    padding: 8% 15% !important;
    width: 35px !important;
    margin-bottom: 4%;
    background: red;
    color: white;
    border: 1px solid red;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
  }
}
@media (min-width: 498px) {
  .cart-btn {
    margin-left: 34%;
  }
}
@media (min-width: 900px) {
  .cart-btn-1 {
    display: none;
  }
}
@media (min-width: 451px) {
  .cart-btn-2 {
    background: rgba(154, 205, 50, 0);
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 0 10%;
    width: 150%;
    height: 100%;
  }
  .navbar-toggler {
    margin-left: 91%;
    margin-top: -8%;
  }
  .cart-icon {
    height: 50px;
  }
  .cart-qty-icon {
    font-size: 1.4em;
  }
  .products-nav-link {
    margin-top: -10%;
  }
  .nav-item {
    padding: 4%;
  }
}

.navbar {
  background: rgba(154, 205, 50, 0.6) !important;
  max-height: 70px;
}
