@media (max-width: 460px) {
  .featured-product-container,
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 13%;
    grid-gap: 30px;
  }
}

@media (min-width: 450px) {
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-1 {
    grid-area: 1/1;
    padding-left: 20%;
  }
  .card-2 {
    grid-area: 1/2;
    padding-left: 20%;
  }
  .card-3 {
    grid-area: 1/3;
    padding-left: 20%;
  }
}
@media (max-width: 789px) {
  .featured-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 451px) {
  .featured-products-container {
    margin: 0 auto;
  }
}
@media (min-width: 989px) {
}
