@media (max-width: 450px) {
  .featured-product-container,
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr;
    padding: 13%;
    grid-gap: 30px;
  }
}
.card-img-top {
  height: 190px;
  width: 290px;
  object-fit: cover;
  object-position: 0 50%;
}
@media (min-width: 450px) {
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-1 {
    grid-area: 1/1;
  }
  .card-2 {
    grid-area: 1/2;
  }
  .card-3 {
    grid-area: 1/3;
  }
}
@media (max-width: 789px) {
  .featured-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 989px) {
  .featured-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
