@media (max-width: 450px) {
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card-1 {
    grid-area: 1 / 1;
    width: 10em;
    padding-bottom: 40px;
    margin-left: 4%;
  }
  .card-2 {
    grid-area: 1 / 2;
    width: 10em;
    margin-left: 9%;
  }
  .card-3 {
    grid-area: 2 / 1;
    width: 10em;
    margin-left: 4%;
  }
  .card-1 .card-body h5 {
    padding-bottom: 24px;
  }
}

@media (min-width: 451px) {
  .featured-products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-1 {
    grid-area: 1/1;
    padding-left: 20%;
    width: 18em;
  }
  .card-2 {
    grid-area: 1/2;
    padding-left: 20%;
    width: 18em;
  }
  .card-3 {
    grid-area: 1/3;
    padding-left: 20%;
    width: 18em;
  }
}
@media (max-width: 789px) {
  .featured-product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 451px) {
  .featured-products-container {
    margin: 0 auto;
  }
}
@media (min-width: 989px) {
}
.card-header h5 {
  background: rgba(17, 145, 221, 0.2);
}
