@media (max-width: 450px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 789px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .product-card-1 {
    grid-area: 1/1;
  }
  .product-card-2 {
    grid-area: 1/2;
  }
  .product-card-3 {
    grid-area: 1/3;
  }
  .product-card-4 {
    grid-area: 2/1;
  }
  .product-card-5 {
    grid-area: 2/2;
  }
}
@media (min-width: 789px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .product-card-1 {
    grid-area: 1/1;
  }
  .product-card-2 {
    grid-area: 1/2;
  }
  .product-card-3 {
    grid-area: 1/3;
  }
  .product-card-4 {
    grid-area: 1/4;
  }
  .product-card-5 {
    grid-area: 2/1;
  }
}
