@media (max-width: 550px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 15%;
    grid-gap: 40px;
  }
  .card-img-top {
    height: 200px;
    max-width: 290px;
    object-fit: cover;
    object-position: 0 54%;
  }
}

@media (min-width: 751px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .card-img-top {
    height: 258px;
    max-width: 285px;
    object-fit: cover;
    object-position: 0 54%;
  }
  .product-card-3 img,
  .product-card-1 img {
    object-position: 0 52%;
  }
  .product-card-1 {
    grid-area: 1/1;
  }
  .product-card-2 {
    grid-area: 1/2;
  }
  .product-card-3 {
    grid-area: 1/3;
    object-position: 0 54%;
  }

  .product-card-4 {
    grid-area: 2/1;
  }
  .product-card-5 {
    grid-area: 2/2;
  }
  .product-card-6 {
    grid-area: 2/3;
  }
  .product-card-7 {
    grid-area: 3/1;
  }
  .product-card-8 {
    grid-area: 3/2;
  }
  .product-card-9 {
    grid-area: 3/3;
  }
  .product-card-10 {
    grid-area: 4/1;
  }
  .product-card-11 {
    grid-area: 4/2;
  }
  .product-card-12 {
    grid-area: 4/3;
  }
}
@media (min-width: 899px) {
  .product-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .product-card-1 {
    grid-area: 1/1;
  }
  .product-card-2 {
    grid-area: 1/2;
  }
  .product-card-3 {
    grid-area: 1/3;
  }
  .product-card-4 {
    grid-area: 1/4;
  }
  .product-card-5 {
    grid-area: 2/1;
  }
}
